<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="applicable-device" content="pc,mobile">
  <meta name="keywords" content="Django,Geek,博客,关于技术" />
  <meta name="description" content="每个Geek对折腾自己的博客都有着一份执念" />
  <link rel="alternate" type="application/rss+xml" title="运维咖啡吧" href="https://blog.ops-coffee.cn/feed.xml" />
  <link rel="stylesheet" href="https://blog.ops-coffee.cn/static/posts/css/ops-coffee.min.css" type="text/css" />

  <!-- Begin SEO tag -->
  <title>利用Django徒手写个静态页面生成工具</title>
  <meta property="og:locale" content="zh_CN" />
  <meta property="og:site_name" content="运维咖啡吧" />
  <meta property="og:url" content="https://blog.ops-coffee.cn" />
  <meta property="og:title" content="利用Django徒手写个静态页面生成工具" />
  <meta property="og:description" content="每个Geek对折腾自己的博客都有着一份执念" />
  <link rel="canonical" href="https://blog.ops-coffee.cn" />
  <!-- End SEO tag -->
</head>

<body>
  <div class="header">
    <div class="container">
      <nav class="header-site">
        <ul>
          <li><a href="/">首页</a></li>
            <li class="has-submenu">
              <a href="#" target="_self">运维</a>
              <ul class="sub-menu">
                <li><a href="/tag/系统运维/" target="_self">系统运维</a></li>
                <li><a href="/elk/index.html" target="_self">ELK系列</a></li>
                <li><a href="/ldap/index.html" target="_self">LDAP系列</a></li>
              </ul>
            </li>
            <li class="has-submenu">
              <a href="#" target="_self">开发</a>
              <ul class="sub-menu">
                <li><a href="/tag/Devops/" target="_self">DevOps</a></li>
                <li><a href="/tag/Python/" target="_self">Python</a></li>
                <li><a href="/tag/Django/" target="_self">Django</a></li>
                <li><a href="/bpmn/index.html" target="_self">BPMN系列</a></li>
                <li><a href="/webssh/index.html" target="_self">WebSSH系列</a></li>
                <li><a href="/frontend/index.html" target="_self">前端开发系列</a></li>
              </ul>
            </li>
            <li><a href="/devops.html" target="_self">运维平台</a></li>
            <li><a href="/tag/这是生活/" target="_self">这是生活</a></li>
            <li class="has-submenu">
              <a href="#" target="_self">房车旅行</a>
              <ul class="sub-menu">
                <li><a href="/r/index.html" target="_self">房车体验</a></li>
                <li><a href="/travels.html" target="_self">旅行游记</a></li>
              </ul>
            </li>
            <li><a href="/tag/index.html" target="_self">标签</a></li>
            <li><a href="/archive.html" target="_self">归档</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <header>
    <div class="container">
      <a href="/">
        <h1>运维咖啡吧</h1>
        <h2>享受技术带来的乐趣，体验生活给予的感动</h2>
      </a>
    </div>
  </header>

  <div id="content-wrap">
    <div class="container">
        <h1 id="art-title">利用Django徒手写个静态页面生成工具</h1>

        <blockquote>
<p>每个Geek对折腾自己的博客都有着一份执念</p>
</blockquote>
<h2 id="_1">背景介绍</h2>
<p>曾经多次在不同的平台写博客，但全部都以失败而告终。去年七月选择微信公众号做为平台开始了又一次的技术分享，庆幸一直坚持到现在，但随着文章发表的越来越多，发现公众号对于PC端很不友好，文章列表没有PC端入口，查看分享很不方便，所以就利用github pages搭建了一个<a href="https://ops-coffee.cn" target="_blank">【运维咖啡吧】</a>的网站，分类展示公众号内发表的所有文章以及一些未在公众号发表的琐碎内容</p>
<p>为了追求极速的浏览体验，整个网站采用纯静态的方式构建，这里的静态并不是像Jekyll或者Hexo之类的静态博客框架，而是手写HTML，页面少的时候还能应对，但随着页面越来越多，维护这些内容就成了灾难，好在对Django比较熟悉，于是便动手写了这么一个静态博客页面生成工具</p>
<h2 id="_2">主要功能</h2>
<p>网站非常简单，只有三类页面，主页、文章列表页和文章详情页</p>
<ul>
<li>主页用来分类展示公众号内的文章列表</li>
<li>文章列表页用来展示网站内文章（一些琐碎的未在公众号发表的文章）的列表</li>
<li>文章详情页用来展示具体文章的内容</li>
</ul>
<p>基于以上的内容分析，其实只需要做两个后台页面，包含几个小功能，画个思维导图</p>
<p><img alt="" loading="lazy" src="/static/images/2019/0525.blog.png" /></p>
<p>首页为什么要去读取JSON文件呢？主要是因为运维咖啡吧的小程序也同时依赖这个JSON文件，修改一个地方避免维护多份数据</p>
<p>最终实现的效果如下图</p>
<p><img alt="" loading="lazy" src="/static/images/2019/0525.blog.gif" /></p>
<p>接下来介绍下实现这些功能用到的技术或组件</p>
<h2 id="_3">所用技术</h2>
<h3 id="_4">读取及写入文件</h3>
<pre class="codehilite"><code>from django.conf import settings


class FileRun:
    def __init__(self):
        self.file = settings.BASE_DIR + '/ops_coffee/backends/blog.json'

    def read(self):
        try:
            with open(self.file, 'r', encoding='utf8') as f:
                return True, f.read()

        except Exception as e:
            return False, str(e)

    def write(self, content):
        try:
            with open(self.file, 'w', encoding='utf8') as f:
                return True, f.write(content)

        except Exception as e:
            return False, str(e)</code></pre>


<p>读取及写入文件的操作与Django的View没有太大的关系，所以这里我用了一个单独的类来处理，解释下其中的四个用法</p>
<ol>
<li>
<p>本地文件路径不要硬编码到代码中，尽量采用<code>settings.BASE_DIR</code>相对路径，或者直接将路径以变量的形式写入到settings文件，例如我们后边要说的生成本地文件的目录就直接在settings中添加了一个变量<code>OPS_COFFEE_GIT_DIR</code></p>
</li>
<li>
<p>每个方法返回两个参数状态和数据<code>return True,data</code>，这样在调用这个方法的时候就可以很方便的判断出来这个方法是执行成功还是失败，例如如下代码</p>
</li>
</ol>
<pre class="codehilite"><code>state, data = FileRun().read()
if state:
    return(data)</code></pre>


<ol>
<li>
<p>读取文件使用<code>with</code>方法可以在你读取结束后自动执行<code>f.close()</code>关闭文件，避免因打开文件过多造成的资源消耗</p>
</li>
<li>
<p>使用try来避免程序直接抛错，有错误处理机制</p>
</li>
</ol>
<h3 id="json">JSON格式化</h3>
<p>为了展示好看且能实现语法错误提示，采用了<code>jsoneditor</code>插件，这是一个前端的插件，使用非常简单</p>
<pre class="codehilite"><code>&lt;div class=&quot;col-sm-12&quot; id=&quot;jsoneditor&quot; style=&quot;height:620px&quot;&gt;&lt;/div&gt;</code></pre>


<pre class="codehilite"><code>&lt;script src=&quot;/static/js/jsoneditor.min.js&quot;&gt;&lt;/script&gt;
&lt;script&gt;
  // create the editor
  var container = document.getElementById(&quot;jsoneditor&quot;);
  var editor = new JSONEditor(container, {
    mode: 'code'
  });

  // set json
  editor.set({{ data|safe }});
&lt;/script&gt;</code></pre>


<p><strong>JSON Editor</strong> 可以用来查看、编辑、格式化和验证JSON，支持多种模式，例如tree、code、text，当为tree模式时显示树状结构，当为text时显示纯文本，我们这里采用了code模式有行号和颜色，看起来更美观</p>
<p><strong>safe</strong> django从view向template传递HTML数据的时候，为了防止html中包含恶意攻击的代码django默认不会渲染HTML，所以需要在template接收到html数据后添加<code>|safe</code>进行渲染</p>
<h3 id="html">生成HTML</h3>
<p>观察会发现整个网站里所有的页面除了中间的内容区域之外，其他的地方都一样，所以我们只需要考虑替换中间的内容就可以了，实际上为了SEO等我们还需要替换title等数据</p>
<p>替换内容生成html文件这里使用了jinja2，我有尝试直接用django的template来渲染，但最终有一些编码问题没有解决，还是采用了jinja2，代码如下</p>
<pre class="codehilite"><code>from jinja2 import Template
from django.conf import settings

tmpl = &quot;&quot;&quot;&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;zh-CN&quot;&gt;

&lt;head&gt;
  &lt;meta name=&quot;theme-color&quot; content=&quot;#2879d0&quot; /&gt;
  &lt;meta http-equiv=&quot;Content-Type&quot; content=&quot;text/html; charset=utf-8&quot; /&gt;
  &lt;link rel=&quot;stylesheet&quot; href=&quot;/css/style.min.css&quot; media=&quot;screen&quot; type=&quot;text/css&quot; /&gt;

  &lt;title&gt;{{ title }}&lt;/title&gt;
  &lt;meta property=&quot;og:title&quot; content=&quot;{{ title }}&quot; /&gt;
  &lt;meta property=&quot;og:description&quot; content=&quot;{{ description }}&quot; /&gt;
&lt;/head&gt;

&lt;body&gt;
  &lt;header&gt;
    &lt;div class=&quot;inner&quot;&gt;
      &lt;a href=&quot;https://ops-coffee.cn/&quot;&gt;
        &lt;h1&gt;运维咖啡吧&lt;/h1&gt;
      &lt;/a&gt;
      &lt;h2&gt;追求技术的道路上，我从不曾停下脚步&lt;/h2&gt;
    &lt;/div&gt;
  &lt;/header&gt;

  &lt;div id=&quot;content-wrapper&quot;&gt;
    &lt;div class=&quot;inner clearfix&quot;&gt;
      &lt;section id=&quot;main-content&quot;&gt;
      {% if havet %}
        &lt;h1 id=&quot;art-title&quot;&gt;{{ title }}&lt;/h1&gt;
      {% endif %}

      {{ content }}
      &lt;/section&gt;

      &lt;aside id=&quot;sidebar&quot;&gt;
        &lt;blockquote class=&quot;route&quot;&gt;微信公众号&lt;/blockquote&gt;
        &lt;img border=&quot;0&quot; src=&quot;/images/z-qrcode.jpg&quot; width=&quot;100%&quot; height=&quot;100%&quot; alt=&quot;ops-coffee&quot; /&gt;

        &lt;blockquote class=&quot;route&quot;&gt;归档列表&lt;/blockquote&gt;
        &lt;div class=&quot;sidebar-list&quot;&gt;&lt;a href=&quot;/&quot;&gt; 精选文章列表&lt;/a&gt;&lt;/div&gt;
        &lt;div class=&quot;sidebar-list&quot;&gt;&lt;a href=&quot;/s/&quot;&gt; 日常运维记录&lt;/a&gt;&lt;/div&gt;
      &lt;/aside&gt;
    &lt;/div&gt;
  &lt;/div&gt;

&lt;/body&gt;

&lt;/html&gt;
&quot;&quot;&quot;

kwargs = {
    &quot;havet&quot;: 0,
    &quot;title&quot;: &quot;运维咖啡吧&quot;,
    &quot;description&quot;: &quot;追求技术的道路上，我从不曾停下脚步&quot;,
    &quot;content&quot;: content
}

_content = Template(tmpl).render(kwargs)
with open(self.blogDir + '/index.html', 'w', encoding='utf8') as f:
    f.write(_content)</code></pre>


<p><strong>tmpl</strong> 定义了一个模版，模版内可以使用诸如<code>{{ title }}</code>这样的变量或是<code>{% if havet %}</code>这样的语法</p>
<p><strong>kwargs</strong> 定义了一个字典，字典的内容用来替换模版中的变量，字典的key值与模版里边的变量做匹配，匹配到了就用字典的value填充模版</p>
<p><strong>_content</strong> 就是最终html的内容，<code>Template(tmpl).render(kwargs)</code>会将kwargs的每个key值与模版中的变量做替换</p>
<p>最后会将html内容写入到html文件</p>
<h3 id="github">上传GitHub</h3>
<p>网站使用github pages搭建，最后需要将生成的html文件上传到github，这里我们使用了<code>gitpython</code>库，gitpython库的用法跟原生git的命令非常像，只是命令中间以<code>.</code>连接</p>
<p>最佳的自动上传步骤应该是：</p>
<ol>
<li>本地生成ssh密钥，并将公钥上传至github，实现本机与ssh之间的无密码上传下载</li>
<li>本地创建网站目录，这个目录需要跟settings里边的<code>OPS_COFFEE_GIT_DIR</code>变量一致，方便直接将html文件生成在这个目录下</li>
<li>进入网站目录并使用<code>git clone</code>拉取github上的代码，注意这里应选择ssh协议的url，例如：<code>git clone git@github.com:ops-coffee/demo.git .</code>，且确定无需输入账号密码即可拉取</li>
<li>然后就可以使用以下程序实现自动上传更新到github了，也就是在跑本文所讲的这个生成工具之前需要先做好以上三步</li>
</ol>
<pre class="codehilite"><code>from git import Repo
from django.conf import settings


class GitRun:
    def __init__(self):
        self.repo = Repo(settings.OPS_COFFEE_GIT_DIR)

    def push(self):
        try:
            self.repo.git.add(A=True)
            self.repo.index.commit('ops-coffee')
            self.repo.remote(name='origin').push()

            return True, True
        except Exception as e:
            return False, str(e)</code></pre>


<p><strong>Repo()</strong> 选择已有的git仓库</p>
<p><strong>git.add</strong> 添加本地修改到暂存区，<code>A=True</code>添加到暂存区时包含删除文件的修改</p>
<p><strong>index.commit</strong> 提交修改到本地仓库，我这里比较粗糙，统一使用<code>ops-coffee</code>做为log</p>
<p><strong>repo.remote().push()</strong> 选择远程分支并提交，name参数表示远程分支的名字</p>
<h3 id="_5">登陆登出</h3>
<p>虽然是个简单的个人系统，但最基本的用户认证还是要有的，没有用Django默认的admin页面，但还想使用django提供的auth系统实现登陆登出的话，可以采用下边这种方式</p>
<pre class="codehilite"><code>from django.urls import path
from django.contrib.auth.views import LoginView, LogoutView

urlpatterns = [
    path('login', LoginView.as_view(template_name='login.html'), name='login-url'),
    path('logout', LogoutView.as_view(template_name='login.html'), name='logout-url'),
]</code></pre>


<p>从<code>django.contrib.auth.views</code>下导入<code>LoginView</code>和<code>LogoutView</code>，然后写两条url并指定自己的模版位置就可以使用django的登陆登出功能了，这在一些需要简单认证的系统中非常方便</p>
<h2 id="_6">写在最后</h2>
<p>不断折腾的过程才是成长最快的过程，用技术来解决实际的问题是对技术最好的应用</p>
<p>如果你对本篇文章的完整源码感兴趣，可以在微信公众号后台回复“05”获取，当然也非常欢迎加我个人微信一起学习交流</p>

        <div>
          <ul style="display: inline-block;padding: 0;margin: 0 0 0.5em;color: #999;">
            <li style="display: inline-block;margin: 0 1em 0 0;"><a href="/s/7g2wncQG1lIziOmtBxXwEw.html">📅 2019-05-27</a></li>
<li style="display: inline-block;margin: 0 1em 0 0;"><a href="/tag/Django/">🏷️ Django</a></li><li style="display: inline-block;margin: 0 1em 0 0;"><a href="/tag/博客/">🏷️ 博客</a></li><li style="display: inline-block;margin: 0 1em 0 0;"><a href="/tag/关于技术/">🏷️ 关于技术</a></li>          </ul>
        </div>

        <hr>

        <div class="nav-cell">
            <script async src="https://giscus.app/client.js"
                    data-repo="ops-coffee/blog" data-repo-id="MDEwOlJlcG9zaXRvcnkxNDY4OTI0MTg="
                    data-category="Announcements" data-category-id="DIC_kwDOCMFmgs4CQar3"
                    data-mapping="pathname" data-strict="0" data-reactions-enabled="1"
                    data-emit-metadata="0" data-input-position="top" data-theme="light"
                    data-lang="zh-CN" data-loading="lazy" crossorigin="anonymous">
            </script>
        </div>

        <div>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-8944257246828217"
                 data-ad-slot="6731434232" data-ad-format="auto" data-full-width-responsive="true"></ins>
            <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
        </div>

        <div class="nav-cell">
            <p class="nav-list-title">能看到这里一定是真爱，关注一下吧</p>
            <img alt="" loading="lazy" src="/static/images/wx.sou1.png" />
        </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <div class="copy"> © ops-coffee</div>

      <div class="link">
        <a href="/search.html" title="搜索" target="_blank">搜索</a>
        <a href="/questions.html" title="提问" target="_blank">提问</a>
        <a href="/friends.html" title="友情链接" target="_blank">友链</a>
      </div>
    </div>
  </footer>
  
  <!-- Umami Cloud -->
<script async src="https://umami.ops-coffee.cn/script.js" data-website-id="a4aabd8e-32c7-40e7-a81c-119b909f2d0f"></script>

<!-- Google Adsense -->
<script data-ad-client="ca-pub-8944257246828217" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</body>

</html>